<!DOCTYPE html>
<html lang="pt" class="dark-mode">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
          name="viewport"/>

    <title>@ViewData["Title"] - Portal do Vendedor</title>
    <!-- core css -->
    <link href="~/assets/css/vendor.min.css" rel="stylesheet"/>
    <link href="~/assets/css/app.min.css" rel="stylesheet"/>
    <link href="~/assets/css/custom.css" rel="stylesheet"/>
    @await RenderSectionAsync("Styles", false)
</head>
<body class="app-with-bg">

<div id="app" class="app app-boxed-layout @(ViewData["AppClass"])">
    

    
    <!-- BEGIN #content -->
    <div id="content" class="@ViewData["ContentClass"]">
        @RenderBody()
    </div>
    <!-- END #content -->
    <!-- BEGIN btn-scroll-top -->
    <a href="#" data-click="scroll-top" class="btn-scroll-top fade">
        <i class="fa fa-arrow-up"></i>
    </a>
    <!-- END btn-scroll-top -->
</div>
<!-- core js -->
<script src="~/assets/plugins/pace-js/pace.min.js"></script>
<script src="~/assets/plugins/jquery/dist/jquery.min.js"></script>
<script src="~/assets/plugins/jquery-ui-dist/jquery-ui.min.js"></script>
<script src="~/assets/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="~/assets/plugins/js-cookie/dist/js.cookie.min.js"></script>
<script src="~/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery.validate.unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/assets/js/app.min.js"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>